@import "./variables";

// .footer__contenedor {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }
// .footer__anchor {
//   margin: 5px;
// }
// .mediosDePago__contenedor {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: center;
// }
// .mediosDePago {
//   margin: 5px;
//   padding: 5px;
// }

// footer {
//   background: black;
// }

.footer {
  padding: 40px 0;
  background-color: #313131;
}
.footer .redes {
  text-align: center;
  padding-bottom: 25px;
}
.footer .redes a {
  font-size: 1.5rem;
  color: rgb(216, 119, 216);
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .redes a:hover {
  opacity: 1;
}
.footer ul {
  margin-top: 0;
  padding: o;
  list-style: none;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;
}

.chatFixed {
  background-color: rgb(162, 182, 199);
  position: fixed;
  width: 60px;
  height: 50px;
  line-height: 2;
  bottom: 0;
  right: 0;
  border-radius: 30px;
  text-align: center;
  color: black;
  font-size: 1.5rem;
}
.chatFixed a:hover {
  opacity: 1;
}
