@import "./variables";

.footer__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__anchor {
  margin: 5px;
}
.mediosDePago__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mediosDePago {
  margin: 5px;
  padding: 5px;
}
