@import "./variables";

.footer {
  padding: 40px 0;
  background-color: #313131;
}
.footer .redes {
  text-align: center;
  padding-bottom: 25px;
}
.footer .redes a {
  font-size: 1.5rem;
  color: #43c6ac;
  border: 1px solid rgb(187, 185, 185);
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0px 8px;
  opacity: 0.75;
}
.footer .redes a:hover {
  opacity: 1;
}
.footer ul {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  padding: o;
  list-style: none;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0px 15px;
}
.footer ul li a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;
  font-family: "Montserrat", sans-serif;
}

.chatFixed {
  background-color: rgb(162, 182, 199);
  position: fixed;
  width: 60px;
  height: 50px;
  line-height: 2;
  bottom: 0;
  right: 0;
  border-radius: 30px;
  text-align: center;
  color: black;
  font-size: 1.5rem;
}
