@import "./variables";

.navbar .navbar-nav .nav-link:hover {
  color: #7f00ff;
  font-weight: bold;
}
.navbar {
  font-family: "Montserrat", sans-serif;
}

.navbar .navbar-nav .nav-link {
  color: #313131;
  font-weight: 600;
}
.header__logo {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  padding: 1rem;
  color: $h1;
  font-weight: 700;
}
