@import "./variables";

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
  }
  &__logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding: 1rem;
    color: $h1;
  }
  &__list--menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item:hover {
    position: relative;
    margin-left: 5rem;
  }

  &__item ul {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0.5rem;
  }

  &__item:hover ul {
    display: block;
    color: black; /*no funciona el hover*/
  }

  &__anchor {
    text-decoration: none;
    font-size: 1.5rem;
  }
}
