@import "./variables";

.imperdibles__contenedor {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.imperdibles__titulo {
  font-size: 1.87rem;
  font-weight: bold;
  color: $tituloImperdibles;
  transform: skew(-5deg);
}
.imgScale:hover {
  transform: scale(1.1);
}
