@import "./variables";

.equipo .equipo__titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #602bc1;
  text-align: center;
  padding: 30px;
}
.equipo__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.equipo__card {
  width: 290px;
  height: 400px;
  box-shadow: 5px 5px 15px #e74c3c;
  border-radius: 4em;
}
.equipo__card .equipo__img {
  width: auto;
  height: auto;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
  display: flex;
}
.equipo h4 {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  color: #602bc1;
  font-weight: bold;
}
.equipo p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.6em;
  color: #ff9b9b;
  letter-spacing: 1.5px;
  text-align: center;
}
.iconos {
  min-width: 100px;
  text-align: center;
  justify-content: center;
}
.equipo a {
  color: #ff9b9b;
  font-size: 1.5rem;
}
.equipo .card {
  border-radius: 10px;
  transition: all 0.3s;
}
.equipo .equipo__card {
  border-radius: 10px;
  box-shadow: 5px 5px 15px #ff9472;
  transition: all 0.3s;
}

.equipo .equipo__card:hover {
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 15px #b06ab3;
}
.equipo .equipo__card:hover {
  background: #ff9b9b;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 15px #602bc1;
}
.equipo .equipo__card:hover h4 {
  color: #fff;
}
.equipo .equipo__card:hover p {
  color: #fff;
}
.equipo .equipo__card:hover i {
  color: #fff;
}
.padding {
  padding-top: 80px;
}
.separador {
  padding-top: 55px;
}
