* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .navbar-nav .nav-link:hover {
  color: #7f00ff;
  font-weight: bold;
}

.navbar {
  font-family: "Montserrat", sans-serif;
}

.navbar .navbar-nav .nav-link {
  color: #313131;
  font-weight: 600;
}

.header__logo {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  padding: 0.4rem;
  color: #313131;
  font-weight: 700;
}

.imperdibles .imperdibles__titulo {
  font-size: 2.4rem;
  font-weight: 900;
  color: #f86e4f;
  font-style: italic;
  text-align: center;
  padding: 6px;
}

.imperdibles__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imgScale:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.favorita .favorita__titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #008a8b;
  text-align: center;
  padding: 30px;
}

.favorita__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.favorita__card {
  width: 290px;
  height: 400px;
  background: #afe7e2;
  border-radius: 40px 0 40px 0;
  border: 6px solid #f2acc9;
}

.cardTraslate:hover {
  -webkit-transform: translate(15px, 10px);
          transform: translate(15px, 10px);
}

.favorita .favorita__tituloChico {
  font-weight: 500;
  color: #be3ebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 130px;
  font-family: "Berkshire Swash", cursive;
}

.favorita__tituloChico {
  font-size: 2.5rem;
}

.favorita__button {
  color: white;
  padding: 0.7em 1.7em;
  font-size: 0.8rem;
  border-radius: 1em;
  background: #f2acc9;
  border: 1.8px solid #602bc1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

.favorita__button:hover {
  border: 1px solid white;
}

.newsletter__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.newsletter__titulo {
  color: #88491c;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.newsletter__btn {
  font-family: "Montserrat", sans-serif;
}

.gradiente {
  background: -webkit-gradient(linear, right top, left top, from(#eecda3), color-stop(#fdb99b), to(#ef629f));
  background: linear-gradient(to left, #eecda3, #fdb99b, #ef629f);
  height: 300px;
}

.footer {
  padding: 40px 0;
  background-color: #313131;
}

.footer .redes {
  text-align: center;
  padding-bottom: 25px;
}

.footer .redes a {
  font-size: 1.5rem;
  color: #43c6ac;
  border: 1px solid #bbb9b9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0px 8px;
  opacity: 0.75;
}

.footer .redes a:hover {
  opacity: 1;
}

.footer ul {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  padding: o;
  list-style: none;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0px 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;
  font-family: "Montserrat", sans-serif;
}

.chatFixed {
  background-color: #a2b6c7;
  position: fixed;
  width: 60px;
  height: 50px;
  line-height: 2;
  bottom: 0;
  right: 0;
  border-radius: 30px;
  text-align: center;
  color: black;
  font-size: 1.5rem;
}

.equipo .equipo__titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #602bc1;
  text-align: center;
  padding: 30px;
}

.equipo__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equipo__card {
  width: 290px;
  height: 400px;
  -webkit-box-shadow: 5px 5px 15px #e74c3c;
          box-shadow: 5px 5px 15px #e74c3c;
  border-radius: 4em;
}

.equipo__card .equipo__img {
  width: auto;
  height: auto;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.equipo h4 {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  color: #602bc1;
  font-weight: bold;
}

.equipo p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.6em;
  color: #ff9b9b;
  letter-spacing: 1.5px;
  text-align: center;
}

.iconos {
  min-width: 100px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.equipo a {
  color: #ff9b9b;
  font-size: 1.5rem;
}

.equipo .card {
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.equipo .equipo__card {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px #ff9472;
          box-shadow: 5px 5px 15px #ff9472;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.equipo .equipo__card:hover {
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 5px 5px 15px #b06ab3;
          box-shadow: 5px 5px 15px #b06ab3;
}

.equipo .equipo__card:hover {
  background: #ff9b9b;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 5px 5px 15px #602bc1;
          box-shadow: 5px 5px 15px #602bc1;
}

.equipo .equipo__card:hover h4 {
  color: #fff;
}

.equipo .equipo__card:hover p {
  color: #fff;
}

.equipo .equipo__card:hover i {
  color: #fff;
}

.padding {
  padding-top: 90px;
}

.separador {
  padding-top: 55px;
}

.titulos__fondo {
  width: 100%;
  max-width: 1350px;
  height: 150px;
  background-image: url(../../assets/fotoSakuraOriginaljpg2.jpg);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulos__productos {
  font-family: "Berkshire Swash", cursive;
  color: black;
  font-size: 2rem;
}

.card-title {
  color: #db6f8f;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.btnColor {
  color: #bb377d;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.card {
  -webkit-box-shadow: 10px 20px 50px #bebebe, -10px -20px 50px #ffffff;
          box-shadow: 10px 20px 50px #bebebe, -10px -20px 50px #ffffff;
}

.fuenteMontserrat {
  font-family: "Montserrat", sans-serif;
}

.localTitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #602bc1;
  text-align: center;
  padding: 10px;
}

.titulo--violetaOscuro {
  color: #313131;
}

.titulo--rojo {
  color: #f86e4f;
}

.titulo--verde {
  color: #118c8b;
}
/*# sourceMappingURL=main.css.map */